:root {
  --color-fg: white;
  --color-bg: black;
}

body {
  font-family: sans-serif;
  background: var(--color-bg);
  color: var(--color-fg);
  padding: 0 0.5rem;
}

a,
a:visited {
  color: var(--color-fg);
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: baseline;
}

header h1 {
  flex-grow: 1;
}

/*
-
- list + puzzle
-
*/

#list,
#puzzle {
  display: none;
}

#list.show {
  display: grid;
}

#puzzle.show {
  display: block;
}

/*
-
- list
-
*/

#list {
  /* display: grid; */ /* this is controlled above */
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 444px) {
  #list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 666px) {
  #list {
    grid-template-columns: repeat(4, 1fr);
  }
}

#list img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/*
-
- puzzle
-
*/

#puzzle {
  position: relative;
  margin: 0 auto;
  width: 600px;
}

#puzzle .block {
  position: absolute;
  height: 100px;
  width: 100px;
}

/*
-
- util
-
*/

.clickable {
  cursor: pointer;
}
