:root {
  --color-fg: white;
  --color-bg: black;
}

html,
body,
main {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: sans-serif;
  padding: 0 1rem;
  margin: 0;
}

a,
a:visited {
  color: var(--color-fg);
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;

  background: var(--color-bg);
  margin: 0 0 1rem;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: baseline;
}

header h1 {
  flex-grow: 1;
  margin: 1rem 0 0;
}

/*
-
- list + puzzle nav
-
*/

#list,
#puzzle {
  display: none;
}

#list.show {
  display: grid;
}

#puzzle.show {
  display: block;
}

/*
-
- list
-
*/

#list {
  margin: 0 0 1rem;

  /* display: grid; */ /* this is controlled above */
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 444px) {
  #list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 666px) {
  #list {
    grid-template-columns: repeat(4, 1fr);
  }
}

#list img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/*
-
- puzzle
-
*/

#puzzle {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

#puzzle .block {
  position: absolute;
  /* width, height, top, & left are set in JS */
}

/*
-
- util
-
*/

.clickable {
  cursor: pointer;
}
